<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/6.1/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="tests/bootstrap.php"
>
    <php>
        <ini name="error_reporting" value="-1" />
    </php>

    <testsuites>
        <testsuite name="Paroki Test Suite">
            <directory>tests/</directory>
            <directory>plugins/*/Tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./src/</directory>
            <directory>./plugins/</directory>
            <exclude>
                <directory>./src/Resources</directory>
                <directory>./plugins/*/Tests</directory>
                <directory>./plugins/*/Resources</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
